h1 {
    text-align: left;
  }
  h1{
    word-spacing: 1rem; }

.ppp{
    text-align-last: center;
}
.mmm{
    background-color: aqua;
}
.aaa{
    background-color: aqua;
}
.yyy{
    font-family: Georgia, 'Times New Roman', Times, serif; color: aqua;
}